.custom-footer {
  position: relative;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  padding-top: 0;
  overflow: visible; /* permite overflow */
  font-family: 'Poppins', sans-serif;
  z-index: 1; /* garante que fique acima de outros elementos */
}

.wave-container {
  position: absolute; /* muda para absolute para "flutuar" acima do footer */
  top: -100px; /* puxa para cima a onda */
  left: 0;
  width: 100%;
  height: 100px;
  overflow: visible;
  background-color: transparent;
  z-index: 2;
}

.footer-wave {
  display: block;
  width: 100%;
  height: 100px;
}

.footer-content {
  background-color: #d27837;
  padding: 50px 0;
  position: relative;
  z-index: 3;
}
