body{
    background: #F5DEAA;
}

/* styles.css */

.cadastro-suco-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff; 
    color: rgb(0, 0, 0); 
    font-size: 25px;
  }
  
  .cadastro-suco-form {
    width: 400px; /* Ajuste a largura conforme necessário */
    height: 430px; /* Ajuste a altura conforme necessário */
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }
  
  
  .upload-container {
    display: flex;
    align-items: center;
  }
  
  .upload-icon {
    margin-right: 10px; 
    font-size: 30px;
  }
  
  .button {
    background-color: #ffc107; /* Amarelo */
    color: #000; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Remover a borda padrão do botão */
    border-radius: 5px; /* Cantos arredondados */
    cursor: pointer; /* Altera o cursor ao passar sobre o botão */
    margin-top: 10px;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #ffcd38; /* Amarelo mais claro ao passar o mouse */
  }
  
  /* Geral.css */

.imagem-lateral {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .container-lateral {
    float: right; 
    width: 40%; 
  }