/* ReadSuco.css */

.readsuco-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #f5deaa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.readsuco-title {
  font-size: 28px;
  font-family: "Merriweather", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.readsuco-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.readsuco-info {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.readsuco-info p {
  margin-bottom: 10px;
}

.readsuco-diagnostico-container {
  margin-top: 20px;
}

.readsuco-diagnostico-container h3 {
  font-size: 24px;
  font-family: "Merriweather", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

.readsuco-diagnostico-container p {
  font-size: 18px;
  color: #333;
}

/* Responsividade */
@media (max-width: 600px) {
  .readsuco-container {
    padding: 10px;
  }

  .readsuco-title {
    font-size: 24px;
  }

  .readsuco-info, .readsuco-diagnostico-container p {
    font-size: 16px;
  }
}
